body{
    background-color: palegreen;
}

h1{
    text-align: center;
}

ul{
    font-size: large;
    color: red;
}

.home-image{
    width: 250px;
    border: 3px solid black;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    margin: 0;
}

